.App{
    background-color: whitesmoke;
    border-radius: 4px;
    min-width: 1200px;
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App > button {
    background: #DF22FF;
    border: none;
    color: white;
    min-width: 120px;
    padding: 15px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}